*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td:hover {
    background-color:#f5f5f5;
    cursor: pointer;
}

.AlertHighlight{
    background-color: #ffb3b3;
}

.AlertHighlight:hover{
    background-color: #ffe6e6;
}